AccountServices/EnterpriseServices/wsdl/AcountServices.wsdl

<wsdl:definitions name="AccountServices" targetNamespace="http://b2b.tracfone.com/AccountServices"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://b2b.tracfone.com/AccountServices"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:xsd1="http://b2b.tracfone.com/AccountServices">
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://b2b.tracfone.com/AccountServices" schemaLocation="../xsd/AccountServices.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getCustomerPrefRequest">
    <wsdl:part name="parameters" element="tns:getCustomerPrefRequest"/>
  </wsdl:message>
  <wsdl:message name="getCustomerPrefResponse">
    <wsdl:part name="parameters" element="tns:getCustomerPrefResponse"/>
  </wsdl:message>
  
  <wsdl:message name="getCustomerPrefRequestV2">
    <wsdl:part name="parameters" element="tns:getCustomerPrefRequestV2"/>
  </wsdl:message>
  <wsdl:message name="getCustomerPrefResponseV2">
    <wsdl:part name="parameters" element="tns:getCustomerPrefResponseV2"/>
  </wsdl:message>
  <wsdl:message name="updateCustomerPrefRequest">
    <wsdl:part name="parameters" element="tns:updateCustomerPrefRequest"/>
  </wsdl:message>
  <wsdl:message name="updateCustomerPrefResponse">
    <wsdl:part name="parameters" element="tns:updateCustomerPrefResponse"/>
  </wsdl:message>
  
  <wsdl:message name="getTimeAsCustomerRequest">
    <wsdl:part name="parameters" element="tns:getTimeAsCustomerRequest"/>
  </wsdl:message>
  <wsdl:message name="getTimeAsCustomerResponse">
    <wsdl:part name="parameters" element="tns:getTimeAsCustomerResponse"/>
  </wsdl:message>
  <wsdl:message name="submitE911AddressCaseRequest">
    <wsdl:part name="parameters" element="tns:submitE911AddressCaseRequest"/>
  </wsdl:message>
  <wsdl:message name="submitE911AddressCaseResponse">
    <wsdl:part name="parameters" element="tns:submitE911AddressCaseResponse"/>
  </wsdl:message>
  <wsdl:message name="insertE911AddressInformationRequest">
    <wsdl:part name="parameters" element="tns:insertE911AddressInformationRequest"/>
  </wsdl:message>
  <wsdl:message name="insertE911AddressInformationResponse">
    <wsdl:part name="parameters" element="tns:insertE911AddressInformationResponse"/>
  </wsdl:message>
  <wsdl:message name="updateE911AddressInformationRequest">
    <wsdl:part name="parameters" element="tns:updateE911AddressInformationRequest"/>
  </wsdl:message>
  <wsdl:message name="updateE911AddressInformationResponse">
    <wsdl:part name="parameters" element="tns:updateE911AddressInformationResponse"/>
  </wsdl:message>
  <wsdl:message name="validateAccountRequest">
    <wsdl:part element="xsd1:validateAccountRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="validateAccountResponse">
    <wsdl:part element="xsd1:validateAccountResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="validateAccountRequestMB">
    <wsdl:part name="parameters" element="xsd1:validateAccountRequestMB"/>
  </wsdl:message>
  <wsdl:message name="validateAccountResponseMB">
    <wsdl:part name="parameters" element="xsd1:validateAccountResponseMB"/>
  </wsdl:message>
  <wsdl:message name="createAccountRequest">
    <wsdl:part name="parameters" element="xsd1:createAccountRequest"/>
  </wsdl:message>
  <wsdl:message name="createAccountResponse">
    <wsdl:part name="parameters" element="xsd1:createAccountResponse"/>
  </wsdl:message>
  <wsdl:message name="getAccountSecurityQuestionsRequest">
    <wsdl:part name="parameters" element="xsd1:getAccountSecurityQuestionsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAccountSecurityQuestionsResponse">
    <wsdl:part name="parameters" element="xsd1:getAccountSecurityQuestionResponse"/>
  </wsdl:message>
  <wsdl:message name="updateAccountRequest">
    <wsdl:part name="parameters" element="tns:updateAccountRequest"/>
  </wsdl:message>
  <wsdl:message name="updateAccountResponse">
    <wsdl:part name="parameters" element="tns:updateAccountResponse"/>
  </wsdl:message>
  <wsdl:message name="removeEsnFromAccountRequest">
    <wsdl:part name="parameters" element="tns:removeEsnFromAccountRequest"/>
  </wsdl:message>
  <wsdl:message name="removeEsnFromAccountResponse">
    <wsdl:part name="parameters" element="tns:removeEsnFromAccountResponse"/>
  </wsdl:message>
  <wsdl:message name="getEsnListByCriteriaRequest">
    <wsdl:part name="parameters" element="tns:getEsnListByCriteriaRequest"/>
  </wsdl:message>
  <wsdl:message name="getEsnListByCriteriaResponse">
    <wsdl:part name="parameters" element="tns:getEsnListByCriteriaResponse"/>
  </wsdl:message>
  <wsdl:message name="addEsnToAccountRequest">
    <wsdl:part name="parameters" element="tns:addEsnToAccountRequest"/>
  </wsdl:message>
  <wsdl:message name="addEsnToAccountResponse">
    <wsdl:part name="parameters" element="tns:addEsnToAccountResponse"/>
  </wsdl:message>
  <wsdl:message name="resetPasswordRequest">
    <wsdl:part name="parameters" element="tns:resetPasswordRequest"/>
  </wsdl:message>
  <wsdl:message name="resetPasswordResponse">
    <wsdl:part name="parameters" element="tns:resetPasswordResponse"/>
  </wsdl:message>
  <wsdl:message name="getAccountSummaryRequest">
    <wsdl:part name="parameters" element="tns:getAccountSummaryRequest"/>
  </wsdl:message>
  <wsdl:message name="getAccountSummaryResponse">
    <wsdl:part name="parameters" element="tns:getAccountSummaryResponse"/>
  </wsdl:message>
  <wsdl:message name="forgotPasswordRequest">
    <wsdl:part name="parameters" element="tns:forgotPasswordRequest"/>
  </wsdl:message>
  <wsdl:message name="forgotPasswordResponse">
    <wsdl:part name="parameters" element="tns:forgotPasswordResponse"/>
  </wsdl:message>
  <wsdl:message name="isValidAccountRequest">
    <wsdl:part name="parameters" element="tns:isValidAccountRequest"/>
  </wsdl:message>
  <wsdl:message name="isValidAccountResponse">
    <wsdl:part name="parameters" element="tns:isValidAccountResponse"/>
  </wsdl:message>
  <wsdl:message name="getAccountDetailsRequest">
    <wsdl:part name="parameters" element="tns:getAccountDetailsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAccountDetailsResponse">
    <wsdl:part name="parameters" element="tns:getAccountDetailsResponse"/>
  </wsdl:message>
  <wsdl:portType name="AccountServices">
    <wsdl:operation name="getCustomerPreference">
      <wsdl:input message="tns:getCustomerPrefRequest"/>
      <wsdl:output message="tns:getCustomerPrefResponse"/>
    </wsdl:operation>
    
    <wsdl:operation name="getCustomerPreferenceV2">
      <wsdl:input message="tns:getCustomerPrefRequestV2"/>
      <wsdl:output message="tns:getCustomerPrefResponseV2"/>
    </wsdl:operation>
    <wsdl:operation name="updateCustomerPreference">
      <wsdl:input message="tns:updateCustomerPrefRequest"/>
      <wsdl:output message="tns:updateCustomerPrefResponse"/>
    </wsdl:operation>
    
    <wsdl:operation name="getTimeAsCustomer">
      <wsdl:input message="tns:getTimeAsCustomerRequest"/>
      <wsdl:output message="tns:getTimeAsCustomerResponse"/>
    </wsdl:operation>
    <wsdl:operation name="submitE911AddressCase">
      <wsdl:input message="tns:submitE911AddressCaseRequest"/>
      <wsdl:output message="tns:submitE911AddressCaseResponse"/>
    </wsdl:operation>
    <wsdl:operation name="insertE911AddressInformation">
      <wsdl:input message="tns:insertE911AddressInformationRequest"/>
      <wsdl:output message="tns:insertE911AddressInformationResponse"/>
    </wsdl:operation>
    <wsdl:operation name="updateE911AddressInformation">
      <wsdl:input message="tns:updateE911AddressInformationRequest"/>
      <wsdl:output message="tns:updateE911AddressInformationResponse"/>
    </wsdl:operation>
    <wsdl:operation name="validateAccount">
      <wsdl:input message="tns:validateAccountRequest"/>
      <wsdl:output message="tns:validateAccountResponse"/>
    </wsdl:operation>
    <wsdl:operation name="validateAccountMB">
      <wsdl:input message="tns:validateAccountRequestMB"/>
      <wsdl:output message="tns:validateAccountResponseMB"/>
    </wsdl:operation>
    <wsdl:operation name="createAccount">
      <wsdl:input message="tns:createAccountRequest"/>
      <wsdl:output message="tns:createAccountResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getAccountSecurityQuestions">
      <wsdl:input message="tns:getAccountSecurityQuestionsRequest"/>
      <wsdl:output message="tns:getAccountSecurityQuestionsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="updateAccount">
      <wsdl:input message="tns:updateAccountRequest"/>
      <wsdl:output message="tns:updateAccountResponse"/>
    </wsdl:operation>
    <wsdl:operation name="removeEsnFromAccount">
      <wsdl:input message="tns:removeEsnFromAccountRequest"/>
      <wsdl:output message="tns:removeEsnFromAccountResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getEsnListByCriteria">
      <wsdl:input message="tns:getEsnListByCriteriaRequest"/>
      <wsdl:output message="tns:getEsnListByCriteriaResponse"/>
    </wsdl:operation>
    <wsdl:operation name="addEsnToAccount">
      <wsdl:input message="tns:addEsnToAccountRequest"/>
      <wsdl:output message="tns:addEsnToAccountResponse"/>
    </wsdl:operation>
    <wsdl:operation name="resetPassword">
      <wsdl:input message="tns:resetPasswordRequest"/>
      <wsdl:output message="tns:resetPasswordResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getAccountSummary">
      <wsdl:input message="tns:getAccountSummaryRequest"/>
      <wsdl:output message="tns:getAccountSummaryResponse"/>
    </wsdl:operation>
    <wsdl:operation name="forgotPassword">
      <wsdl:input message="tns:forgotPasswordRequest"/>
      <wsdl:output message="tns:forgotPasswordResponse"/>
    </wsdl:operation>
    <wsdl:operation name="isValidAccount">
      <wsdl:input message="tns:isValidAccountRequest"/>
      <wsdl:output message="tns:isValidAccountResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getAccountDetails">
      <wsdl:input message="tns:getAccountDetailsRequest"/>
      <wsdl:output message="tns:getAccountDetailsResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccountServicesSOAP" type="tns:AccountServices">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getCustomerPreference">
      <soap:operation soapAction="http://b2b.tracfone.com/AccountServices/getCustomerPreferences"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="getCustomerPreferenceV2">
      <soap:operation soapAction="http://b2b.tracfone.com/AccountServices/getCustomerPreferenceV2"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="updateCustomerPreference">
      <soap:operation soapAction="http://b2b.tracfone.com/AccountServices/updateCustomerPreference"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="submitE911AddressCase">
      <soap:operation soapAction="http://b2b.tracfone.com/AccountServices/submitE911AddressCase"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertE911AddressInformation">
      <soap:operation soapAction="http://b2b.tracfone.com/AccountServices/insertE911AddressInformation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateE911AddressInformation">
      <soap:operation soapAction="http://b2b.tracfone.com/AccountServices/updateE911AddressInformation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTimeAsCustomer">
      <soap:operation soapAction="http://b2b.tracfone.com/AccountServices/getTimeAsCustomer"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateAccount">
      <soap:operation soapAction="http://b2b.tracfone.com/AccountServices/validateAccount"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateAccountMB">
      <soap:operation soapAction="http://b2b.tracfone.com/AccountServices/validateAccountMB"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createAccount">
      <soap:operation soapAction="http://b2b.tracfone.com/AccountServices/createAccount"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAccountSecurityQuestions">
      <soap:operation soapAction="http://b2b.tracfone.com/AccountServices/getAccountSecurityQuestions"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateAccount">
      <soap:operation soapAction="http://b2b.tracfone.com/AccountServices/updateAccount"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeEsnFromAccount">
      <soap:operation soapAction="http://b2b.tracfone.com/AccountServices/removeEsnFromAccount"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEsnListByCriteria">
      <soap:operation soapAction="http://b2b.tracfone.com/AccountServices/getEsnListByCriteria"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addEsnToAccount">
      <soap:operation soapAction="http://b2b.tracfone.com/AccountServices/addEsnToAccount"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="resetPassword">
      <soap:operation soapAction="http://b2b.tracfone.com/AccountServices/resetPassword"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAccountSummary">
      <soap:operation soapAction="http://b2b.tracfone.com/AccountServices/getAccountSummary"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="forgotPassword">
      <soap:operation soapAction="http://b2b.tracfone.com/AccountServices/forgotPassword"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isValidAccount">
      <soap:operation soapAction="http://b2b.tracfone.com/AccountServices/isValidAccount"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAccountDetails">
      <soap:operation soapAction="http://b2b.tracfone.com/AccountServices/getAccountDetails"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountServices">
    <wsdl:port binding="tns:AccountServicesSOAP" name="AccountServicesSOAP">
      <soap:address location="https://retailgateway.tracfone.com/B2B/AccountServices"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>